body{
    background-color:black;
    color: white;
    font-family: monospace;
    font-size: 15px;
}



h1{
  font-size: 40px;
  text-align: left;
  margin-bottom: 4rem;
  margin-top: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
}





h3{
  font-size: 30px;
  
  

}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #FDC81E;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-left: -0.5rem;
  }

html {
  scroll-behavior: smooth;
  
}

/* Style the links inside the navigation bar */
.topnav a {
color: black;
text-align: left;
padding: 5px 30px 40px 30px;
text-decoration: none;
font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
padding: 25px 15px;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

#logo{
      float:left;
      width:13%;
  }

.intro{
  font-size: 20px;
  float: right;
 
  margin-bottom: 8rem;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  
}

.about{

margin-top: 1rem;
display: inline-block;

}



.intro img{
  position: left;
  float: left;
  width: 50%;
  padding: 0px 50px 0px 0px;
  margin-top: 1.5rem;
}



.clubs{
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 0rem;
  margin-top: -2.5rem;
  margin-left: 4rem;
  margin-right: 4rem;

  
}

.clubs img{

width: 20rem;

}

.pythonclub{

padding: 0rem 2rem 0rem 2rem;
border-color: #FDC81E;
border-style: solid;
float: left;



}

.reactclubs{

  padding: 0rem 2rem 0rem 2rem;
  border-color: #FDC81E;
  border-style: solid;
  float: left;
  
  
  
  }

  .girlsclub{

    padding: 0rem 2rem 0rem 2rem;
    border-color: #FDC81E;
    border-style: solid;
    float: left;
    
    
    
    }

    .java{

      padding: 0rem 2rem 0rem 2rem;
      border-color: #FDC81E;
      border-style: solid;
      float: left;
      
      
      
      }

.pythonclub img{
 float: left;
}







.schedule{

  margin-left: 4rem;
  

}

h6{
  margin-bottom: 3rem;
  margin-top: -1rem;
  margin-left: 0rem;
  font-size: 20px;
  }

table, td {
  border: 2px solid #FDC81E;
  margin-left: -4.2rem;

}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 15rem;
  padding: 15px;
  margin: 5px 0 23px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color:#FDC81E;
  color:black;
  padding: 14px 20px;
  margin: 100px 0 ;
  border: dashed black;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  font-size: 20px;
  font-family: Monospace;
  float: right;
  
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: rgb(190, 190, 190);
  float: right;
}

.signup{

float: right;

}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left
  width: 50%;
  
}

/* Add padding to container elements */
.container {
  padding: 16px;
  color: black;
  margin-left:4rem;
  margin-right:4rem;
  
  
}

.container h1{

margin-left: 0rem;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#888;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color:rgb(226, 17, 17);
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}



.don-galina {

display: inline-flex;
float: left;

  
}



.donimg{
 
margin-left: -1rem
 
}


.galinaimg {
  
margin-left: -9rem;
  


}

h7{
  font-size: 1.5rem;
  position:left;
  font-family: monospace;
  margin-right: 4rem

}





.card-title-galina{

position: absolute;
left: 25rem;
padding: -16rem 5rem 5rem 5rem;


}

 

#subscribebutton{
  
  border: solid black;
  cursor: pointer;
  width: 10rem;
  margin: -1rem 0rem 0rem 15rem;
  
}

.newsletters{

margin-top:-6rem;
float: right;



}


.email{
margin-right: 5rem;


}